@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #1E1D20;
}