@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #1E1D20;
}

/* Custom Scrollbar Styles */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #2c0e2f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #831d8d;
  border-radius: 10px;
  border: 2px solid #2c0e2f;
}

::-webkit-scrollbar-thumb:hover {
  background: #a842b5;
}

::-webkit-scrollbar-corner {
  background: #2c0e2f;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #831d8d #2c0e2f;
}